@charset "UTF-8";

.hidden {
  display: none;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 36px;
  color: #333;
  background-color: #FFCD1C;
  margin: 0;
}

h2 {
  font-family: 'Rowdies', cursive;
}

.header {
  margin:0;
  padding: 0;
  height: 100px;
  background-color: #125C13;
  display: flex;
  flex-direction: column;
}

#siteContainer {
    margin: 0 auto;
    width: 1200px;
}

.header h2 {
  display: flex;
  margin: auto;
  color: white;
}


.sound {
    width: 110px;
    margin: 20px auto;
    display: block;
    color:inherit;
}

.musicBoard {
  height: 300px;
  width: 900px;
  margin:120px auto 20px;
  background-color: #E8EACD;
  border: #C5C4AB solid 3px;
  border-radius: 25px;
  color: inherit;
}

.dropzone {
  border: thin dashed white;
  float: left;
  width: 19.77%;
  height: 100%;
}

.gameBoards {
  display: flex;
  justify-content: center;
  flex-direction: row;
}


.musicBoard {
    height: 300px;
    width: 830px;
    margin: 80px 0 10px 10px;
    background-color: #e8eacd;
    border: #c5c4ab solid 3px;
    border-radius: 25px;
    color:inherit;
    display: flex;
}

.rightPanel {
  height: 400px;
  display: flex;
  margin-top: 20px;
}

.leftPanel {
  height: 400px;
  display: flex;
  margin-top: 20px;
}

.dropzone {
  border: thin dashed white;
  float: left;
  width: 19.77%;
  height: 100%;
}

.left {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.right {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.buttons {
  width: 50px;
  height: 50px;
  display: flex;
  margin-right: 10px;

}

.musicPieces {
  display: flex;
}

.musicButtons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-bottom: 10px;
  margin-right: 200px;
}
