@charset "UTF-8";

.hidden {
  display: none;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 36px;
  color: #333;
  background-color: #FFCD1C;
  margin: 0;
}

h2 {
  font-family: 'Rowdies', cursive;
}


.header {
  margin:0;
  padding: 0;
  height: 100px;
  background-color: #125C13;
  display: flex;
  flex-direction: column;
}

#siteContainer {
    margin: 0 auto;
    width: 1200px;
}

.header h2 {
  display: flex;
  margin: auto;
  color: white;
}


.sound {
    max-width: 110px;
    margin: 20px auto;
    display: block;
    color:inherit;
}



.dropzone {
  border: thin dashed white;
  float: left;
  width: 19.77%;
  height: 100%;
  display: flex;
  align-items: center;
}

.gameBoards {
  display: flex;
  justify-content: center;
  flex-direction: row;
}


.musicBoard {
    height: 300px;
    width: 830px;
    margin: 80px 10px 10px 10px;
    background-color: #e8eacd;
    border: #c5c4ab solid 3px;
    border-radius: 25px;
    color:inherit;
    display: flex;
}

.rightPanel {
  height: 400px;
  width: 200px;
  display: flex;
  margin-top: 20px;
}

.leftPanel {
  height: 400px;
  width: 200px;
  display: flex;
  margin-top: 20px;
}



.dropzone {
  border: thin dashed white;
  float: left;
  width: 19.77%;
  height: 100%;
}

.left {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.right {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.buttons {
  width: 50px;
  height: 50px;
  display: flex;
  margin-right: 10px;

}

.musicPieces {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  background-color: #fff59e;
  border: #ddab1f solid 3px;
  border-radius: 25px;
}

.musicPieces:hover img
{
  transform: scale(1.04);
  transition: transform .7s;

  border: #125C13 solid 1px;

}

.musicPieces:hover img
{
  transform: scale(1.04);
  transition: transform .7s;
}

.musicButtons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-bottom: 10px;
  margin-right: 200px;
}


@media only screen and (max-width: 1200px)
{
  #siteContainer
  {
    margin: 0;
    width: auto;
  }
  /* For tablets: */
  .gameBoards
  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }


  .rightPanel {
    display: flex;
  }

  .leftPanel {
    display: flex;
    width: auto;
  }

  .dropzone {
    border: thin dashed white;
    float: left;
    width: 19.77%;
  }

  .musicBoard {
    background-color: #E8EACD;
    border: #C5C4AB solid 3px;
    border-radius: 25px;
    color: inherit;
  }

  .musicPieces {
    display: flex;
    flex-direction: row;
    margin: 10px;
    height: auto;
  }


@media screen and (max-width: 964px) {
  .sound {
    width: 10%;
  }

  .musicBoard img {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {

  .leftPanel, .rightPanel {
    display: none;
  }

}


}

